{
  // "extends": "plugin:shopify/esnext",
  // "settings": {
  //   "import/resolver": {
  //     "alias": [
  //       [
  //         "components",
  //         "./src/components"
  //       ]
  //     ]
  //   }
  // }
}