@use "sass:map";

$theme-colors: (
  "primary": (
    "normal": #c5eada,
    "desaturate": desaturate(#c5eada, 90%),
    "light": lighten(#c5eada, 10%),
    "dark": darken(#c5eada, 10%),
    "darkest": desaturate(darken(#c5eada, 20%), 10%),
  ),
  "secondary": (
    "normal": #b888a0,
    "light": lighten(#b888a0, 20%),
    "dark": darken(#b888a0, 10%),
    "darkest": desaturate(darken(#b888a0, 30%), 10%),
  ),
  "tertiary": (
    "normal": #88b2b8,
    "light": lighten(#88b2b8, 20%),
  ),
  "success": (
    "normal": #28a745,
  ),
  "text": (
    "normal": #333333,
    "light": lighten(#333333, 20%),
    "lighter": lighten(#333333, 60%),
    "lightest": lighten(#333333, 75%)
  ),
  "info": (
    "normal": #17a2b8,
  ),
  "warning": (
    "normal": #ffc107,
  ),
  "background": (
    "normal": #fff,
    "darken": lighten(#333333, 75%),
  )
);

$font-family-serif: "EB Garamond", serif;
$font-family-sans-serif: "Roboto", sans-serif;

$theme-fonts: (
  "header": $font-family-serif,
  "body": $font-family-sans-serif,
);

$theme-spacing: (
  "small": 0.72rem,
  "medium": 1rem,
  "normal": 1.45rem,
  "large": 2.9rem,
);

$theme-font-size: (
  "large": 2.25rem,
  "medium": 1.62671rem,
  "small": 0.85rem,
  "normal": 1rem,
);

$dropshadow: (
  "normal": 0 0 0.1rem transparentize(#333333, 0.75),
  "dark": 0.05rem 0.05rem 0.1rem transparentize(#333333, 0.5),
);

@mixin no-space {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

@mixin no-space-text {
  margin: 0 0 map-get($theme-spacing, "normal") 0;
  padding: 0 0 0 0;
}

@mixin max-width() {
  margin: 0 auto;
  max-width: 960px;
  padding: map-get($theme-spacing, "normal") 1.0875rem;
}

@function get-font($name) {
  @return map-get($theme-fonts, $name);
}

@function get-font-size($name: "normal") {
  @return map-get($theme-font-size, $name);
}

@function get-color($name, $variant: "normal") {
  $color: map-get($theme-colors, $name);
  @return map-get($color, $variant);
}

@function get-spacing($name: "normal") {
  @return map-get($theme-spacing, $name);
}

@function get-dropshadow($name: "normal") {
  @return map-get($dropshadow, $name);
}

@mixin media($point) {
  @if $point == large {
    @media only screen and (min-width: 481px) {
      @content;
    }
  } @else if $point == small {
    @media only screen and (max-width: 480px) {
      @content;
    }
  }
}

@mixin body-link() {
  a {
    &,
    &:visited {
      color: get-color(secondary, dark);
      text-decoration: none;
      border-bottom: 0.05em dashed get-color(secondary);
    }
    &:hover,
    &:focus {
      border-bottom-color: get-color(secondary, dark);
    }
  }
}
