@use "sass:map";

$theme-colors: (
  "primary": (
    'normal': #c5eada, 
    'desaturate': desaturate(#c5eada, 90%)),
  "secondary": ('normal': #B888A0),
  "tertiary": ('normal': #88B2B8),
  "success": ('normal': #28a745),
  "text": ('normal': #333333),
  "info": ('normal': #17a2b8),
  "warning": ('normal': #ffc107),
);

$theme-fonts: (
  "header": 'EB Garamond',
  "body": 'Roboto',
);

$theme-spacing: (
 "small": 0.72rem,
 "medium": 1rem,
 "normal": 1.45rem,
 "large": 2.9rem,
 );

$theme-font-size: (
  'large': 2.25rem,
  'medium': 1.62671rem,
  'small': 0.7rem,
  'normal': 1rem,
);

@mixin max-width() {
  margin: 0 auto;
  max-width: 960px;
  padding: 1.45rem 1.0875rem;
}

@function get-font($name) {
  @return map-get($theme-fonts, $name);
}

@function get-font-size($name: 'normal') {
  @return map-get($theme-font-size, $name);
}


@function get-color($name, $variant: 'normal') {
  $color: map-get($theme-colors, $name);
  @return map-get($color, $variant);
}

@function get-spacing($name: 'normal') {
  @return map-get($theme-spacing, $name);
}