@import "theme";

html {
  font-size: 16px;
  line-height: 1.78em;
  font-family: get-font("body");
  color: hsla(0, 0%, 0%, 0.8);
  text-rendering: optimizeLegibility;
  @include no-space;
}

@include media(small) {
  html {
    font-size: 100%;
  }
}

img {
  @include no-space;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
hgroup {
  @include no-space-text;
  font-family: get-font("header");
  line-height: 1.1;
  font-weight: 700;
}

h1 {
  text-transform: uppercase;
  margin: 0.67rem 0 get-spacing() 0.67rem;
  font-size: 2.25rem;
}

h2 {font-size: 1.62671rem; font-weight: 800; text-transform: uppercase;}
h3 {font-size: 1.38316rem; font-weight: 800; margin-bottom: get-spacing("small");}
h4 {font-size: 1.1rem; font-style: italic; margin-bottom: get-spacing("small");}
h5 {font-size: 1rem; margin-bottom: get-spacing("small");}

img {
  @include no-space-text;
  max-width: 100%;
}

ul, ol, dl, dd {
  @include no-space-text;
  margin-left: get-spacing();
  
}

li {
  margin-bottom: get-spacing("small");
}

p, figure, fieldset, form, iframe {
  @include no-space-text;
}

blockquote {
  margin: get-spacing();
  padding: 0;
}

hr {
  @include no-space;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}

p > a {
  @include body-link();
}

table {
  @include no-space-text;
  font-size: 1rem;
  line-height: get-spacing();
  border-collapse: collapse;
  width: 100%;
}

td, th {
  padding: get-spacing()  get-spacing(small);
}

thead, tbody tr {
  border-bottom: 1px solid get-color(text, lightest);
}

tfoot td {
  border-bottom: none;
  text-align: center;
}

@include media(small) {
  thead, tbody, th, td, tr { 
      display: block; 
  }
  
  thead tr { 
      position: absolute;
      top: -9999px;
      left: -9999px;
  }
  td {
    position: relative; 
    padding: 0 get-spacing(small);
  }
  td:first-child {padding-top: get-spacing() ;}
  td:last-child {padding-bottom: get-spacing() ;}
}

button {
  box-shadow: get-dropshadow();
  display: block;
  border: none;
  padding: get-spacing(small) get-spacing(medium);
  color: get-color(text);
  background: get-color(text, lighter);
  text-align: center;
  outline: 0.1rem solid get-color(text, lighter);
  width: 100%;
  transition: all 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:hover:enabled,
  &:focus:enabled {
    cursor: pointer;
    box-shadow: get-dropshadow();
  }
  
  &:active {
    background: get-color(text, lightest);
  }

  &:focus:enabled{
    outline-color: get-color(text, lighter);
  }

  &:disabled {
    opacity: 66%;
  }

  @include media(large) {
    width: auto;
  }
}
