@import "theme";

$footer-height: 4.3rem;

.content {
  @include max-width();
}

.header {
  border-bottom: get-spacing("large") solid get-color(primary);
  text-align: center;
}

.main-wrapper {
  min-height: calc(100vh - #{$footer-height});
}

.main-content {
  @include body-link();
}

.footer {
  @include body-link();
  background: get-color(primary, desaturate);
  height: $footer-height;
  font-size: 0.8rem;
}

.copyleft {
  display: inline-block;
  transform: scale(-1, 1);
}

.callout {
  padding: get-spacing() get-spacing(large);
  background-color: get-color(secondary, light);
  margin-bottom: get-spacing();
}
