@import 'theme';

$footer-height: 4.3rem;

@mixin body-link() {
  a{
    &,
    &:visited {
      color: get-color(secondary, darkest);
      text-decoration: none;
      border-bottom: 0.05em dashed get-color(secondary, light);

    }
    &:hover, 
    &:focus {
      border-bottom-color: get-color(secondary);
    }
  }
}

.content {
  @include max-width();
};

.header {
  border-bottom: get-spacing('large') solid get-color(primary);
  text-align: center;
}

.main-wrapper {
  min-height: calc(100vh - #{$footer-height});
}

.main-content {
  @include body-link();
}


.footer {
  @include body-link();
  background: get-color(primary, desaturate);
  height: $footer-height;
  font-size: 0.7rem;
}