@import 'theme';

$footer-height: 4rem;

.content {
  @include max-width();
};

.main-content {
  min-height: calc(100vh - #{$footer-height});
}

.header {
  border-bottom: get-spacing('large') solid get-color(primary);
  text-align: center;
}

.footer {
  background: get-color(primary, desaturate);
  height: $footer-height;
  font-size: 0.7rem;
}
