@import 'theme';

.link {
  font-family: get-font('header');
  font-size: get-font-size('medium');
  padding-bottom: get-spacing('small');
  margin-bottom: get-spacing('small');
  color: get-color('text');
  text-decoration: none;
  display: block;
  border-bottom: 1px solid lighten($color:get-color('text'), $amount: 50);
  &:hover, &:focus {
  background-color: get-color('primary', 'desaturate');
  border-bottom-color: get-color('text');
}
}
.list {
  list-style: none;
  margin: 0 0;
  outline: none;
}

.link--secondary {
  padding-left: get-spacing();
  text-decoration: none;
  color: get-color('text');
  &:hover, &:focus {
    text-decoration: underline;
  }
}


.trigger-wrapper {
  text-align: right;
  background-color: get-color(primary);
}

.trigger-button {
  padding: get-spacing('small');
  color:  get-color(text);
  font-family: get-font('header');
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  background: none;
  &:hover, 
  &:focus {
    background-color: get-color('primary', 'dark');
    cursor: pointer;
  }
}

.trigger-icon {
  height: .65rem;
  padding-left: 0.64rem;
  fill: get-color(text)
}