
@import "theme";

.registrationForm {
    background-color: get-color(secondary, light);
}

.brevetTable {
    background-color: get-color(background);
    // @include media(small) {
    //     margin: 0 -1.0875rem 0 -1.0875rem;
    //     width: 100vw;
    // }

    @include media(small) {
        thead, tbody, th, td, tr { 
            display: block; 
        }
        
        thead tr { 
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        td {
          position: relative; 
          padding: 0 get-spacing(small);
        }
        td:first-child {padding-top: get-spacing(small)}
        td:last-child {padding-bottom: get-spacing(small)}
    }
}

.brevetRow {
  &:hover,
  &:focus {
      background-color: get-color(background, darken);
      cursor: pointer;
  }
}

.brevetRowSelected {
    &, &:hover, &:focus {
    background-color: get-color(primary);
    outline: 1px solid get-color(primary, dark);
  }
}

.brevetRadio {
    @include media(large) {
      margin-left: 1rem
    }
}

.brevetsShowMoreWrapper {
    padding: 0 !important;
}

.brevetsShowMore {
    margin: 0 0;
    padding: get-spacing('small');
    width: 100%;

    &:hover, &:focus {
        background-color: get-color(primary, light);
    }
}
