
@import "theme";

.registrationForm {
    background-color: get-color(secondary, light);
}

.brevetTable {
    background-color: get-color(background);

    @include media(small) {
        thead tr { 
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        .brevetCellSelector {
            position: absolute;
            
            padding-left: 0;
            width: get-spacing(large);
        }

        td {
            position: relative; 
            padding: 0 get-spacing(small) 0 get-spacing(large);
        }

        td:first-child,
        .brevetCellSelector + td {padding-top: get-spacing(small)}
        td:last-child {padding-bottom: get-spacing(small)}
    }
}

.brevetCellSelector {
    text-align: center;
}
.brevetRow {
  &:hover,
  &:focus {
      background-color: get-color(background, darken);
      cursor: pointer;
  }
}

.brevetRowSelected {
    &, &:hover, &:focus {
    background-color: get-color(primary);
    outline: 1px solid get-color(primary, dark);
  }
}

.brevetRadio {
    @include media(large) {
      margin-left: 1rem
    }
}

.brevetsShowMoreWrapper {
    padding: 0 !important;
}

.brevetsShowMore {
    margin: 0 0;
    padding: get-spacing('small');
    width: 100%;

    &:hover, &:focus {
        background-color: get-color(primary, light);
    }
}
