name: Daily build
on:
  schedule:
    - cron: '0 */12 * * *'
jobs:
  build:
    name: Request Netlify build
    runs-on: ubuntu-latest
    steps:
      - name: Post webhook 
        env:
          NETLIFY_BUILD_HOOK: ${{ secrets.NETLIFY_BUILD_HOOK }}
        run: curl -X POST -d {} NETLIFY_BUILD_HOOK
